[run]
branch = True
relative_files = True
source =
    bandersnatch
    bandersnatch_storage_plugins

[paths]
source =
    src/
    .tox/*/lib/*/site-packages/
    .tox/*/Lib/site-packages/

[report]
precision = 2
omit = */apache_*.py
       */buildout.py
       */release.py
       */log.py
