[flake8]
select = B,C,E,F,P,W
max_line_length = 88
# E203 fights with black in some : uses
# E704 dosen't allow blacks protocol 1 liners + is bad
# E722 is a duplicate of B001.
# P207 is a duplicate of B003.
# W503 is against PEP8
ignore = E203, E501, E704, E722, P207, W503
max-complexity = 20
exclude =
    build,
    dist,
    __pycache__,
    *.pyc,
    .git,
    .tox,
    venv,
    ENV
