language: python
dist: xenial

env:
  global:
    secure: "d2LR/WLe9ZragzMEXGGjkFGoPiVm8ilCc41CEhnsJNRUzDo5crfZY1OTzE45CIx3kpVYgUNUveb37Q2WMYI9X7xJp4gY+gxEOWG4EMefkXu2IwUBzwKaqA0oU1pYcnm5FlU8MoBL3HBWagTvGG7Q90YR4s/78HJTDrwHjTAlZctyh5O89vHq8yjDDa/FIwEytns3U8FsVp5IGe+vvDBsbrlFgW0kGG2ayc2bO0i9wof0RF9J7gre5zrKg9h80AHxbmprZ9hhjsYPj3cgEniaQn5dFxf7k3YfkPMvr2h9HHdHPucF+KRiux2/UvQ/CPeSpZGmcC+YzHcgliKK/bkl2MHZDQJ78V+vhJKchbZ+3iVyuFYbhggE5nmUjDMpthnfhraGGIPc9ZYwwKTYhLMc2AlcBLu3+cLAAcCT7gl4ArZQT6+1jXrMApulPIHqxsnxwTKxBPyuq0M7w5TJJMpgXGy4l5xUO/z8FYAQ1+rBHif3Sy36Sh2w0cAAKCz46dow5ZdpXhxUurA9VeCkQRb0D/fg59N/KoAnsjbbbgUyg3zjsxF8OiLMqyOTnagecFzCMUjT8yT0cknEz8oCwznEbP3seqzGevTzmC8yXXAhAFeaGwdh8t7WkOT5I50cOZ+bNgnyi1nsiEBzaGDNEVtd+uI91Ij5GTT54ZRoXBxaS0k="

matrix:
  fast_finish: true
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: 3.6
      env: TOXENV=INTEGRATION
    - python: 3.6
      env: TOXENV=doc_build
    - python: 3.6
      env: TOXENV=lint
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38
    - python: nightly
      env: TOXENV=py39
  allow_failures:
    - python: nightly

install:
    - pip install --upgrade pip setuptools
    - pip install -r requirements.txt -r requirements_test.txt
    - pip install .

script:
    - python test_runner.py

notifications:
  irc:
    channels:
      - "chat.freenode.net#bandersnatch"

cache:
    directories:
        - $HOME/.cache/pip
        - $HOME/.cache/pre-commit
