language: python

matrix:
  fast_finish: true
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: "3.7-dev"
      env: TOXENV=py37
    - python: 3.6
      env: TOXENV=doc_build

install:
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install -r test-requirements.txt
    - pip install .

script:
    - tox
