six==1.12.0
pyparsing==2.3.0
python-dateutil==2.7.5
packaging==18.0
requests==2.21.0
xmlrpc2==0.3.1

zest.releaser==6.15.3

sphinx==1.8.2
recommonmark==0.4.0
docutils==0.14

git+https://github.com/pypa/pypa-docs-theme.git#egg=pypa-docs-theme
git+https://github.com/python/python-docs-theme.git#egg=python-docs-theme
