six
pyparsing
python-dateutil
packaging
requests
xmlrpc2
# We don't want to accidently get an old version of the package that is being documented
# bandersnatch

zest.releaser

sphinx
recommonmark
docutils==0.12
