aiohttp==3.6.2
aiohttp-xmlrpc==0.8.1
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
filelock==3.0.12
idna==2.9
importlib_resources==1.5.0; python_version < '3.7'
keystoneauth1==4.0.0
lxml==4.5.1
multidict==4.7.6
openstackclient==4.0.0
packaging==20.3
pyparsing==2.4.7
python-swiftclient==3.9.0
setuptools==46.4.0
six==1.14.0
yarl==1.4.2
