async-timeout==3.0.1
black==21.5b2
coverage==5.5
flake8==3.9.2
flake8-bugbear==21.4.3
freezegun==1.1.0
mypy==0.901
pre-commit==2.13.0
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-timeout==1.4.2
setuptools==57.0.0
tox==3.23.1
