docutils==0.16
pyparsing==2.4.6
python-dateutil==2.8.1
packaging==20.3
requests==2.23.0
six==1.14.0
sphinx==3.0.0
recommonmark==0.6.0
xmlrpc2==0.3.1

git+https://github.com/pypa/pypa-docs-theme.git#egg=pypa-docs-theme
git+https://github.com/python/python-docs-theme.git#egg=python-docs-theme
