aiodns==1.1.1
aiohttp==3.2.1
async-timeout==3.0.0
attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
idna==2.6
multidict==4.3.1
packaging==17.1
pycares==2.3.0
pyparsing==2.2.0
python-dateutil==2.7.3
requests==2.19.1
setuptools==39.2.0
six==1.11.0
urllib3==1.23
xmlrpc2==0.3.1
yarl==1.2.4
