async-timeout==5.0.1
black==24.10.0
coverage==7.6.4
flake8==7.1.1
flake8-bugbear==24.8.19
freezegun==1.5.1
mypy==1.11.2
pre_commit==4.0.0
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-timeout==2.3.1
setuptools==72.2.0
tox==4.23.2
types-filelock==3.2.7
types-freezegun==1.1.10
