# sphinx 3.5.4 wants 0.16 here ... Try update once we get a newer sphinx
# This is being worked on - https://github.com/sphinx-doc/sphinx/issues/9777
docutils==0.16  # pyup: ignore
# Have to ignore pyparsing as packaging <= 3.0.0
pyparsing==2.4.7  # pyup: ignore
python-dateutil==2.8.2
packaging==21.3
requests==2.27.1
six==1.16.0
sphinx==4.5.0
MyST-Parser==0.16.1
xmlrpc2==0.3.1
sphinx-argparse-cli==1.8.3

git+https://github.com/pypa/pypa-docs-theme.git#egg=pypa-docs-theme
git+https://github.com/python/python-docs-theme.git#egg=python-docs-theme

# This is needed since autodoc imports all bandersnatch packages and modules
# so imports must not fail or its containing module will NOT be documented.
# Also, the missing swift dependencies will cause the doc build to fail since
# autodoc will raise a warning due to the import failure.
-r requirements_swift.txt
