async-timeout>=4.0.0a3
black==24.2.0
coverage==7.4.3
flake8==7.0.0
flake8-bugbear==24.2.6
freezegun==1.4.0
mypy==1.8.0
pre-commit==3.6.0
pytest==7.4.4
pytest-asyncio==0.23.5
pytest-timeout==2.2.0
setuptools==69.1.0
tox==4.12.1
types-filelock==3.2.7
types-freezegun==1.1.10
types-pkg_resources==0.1.3
