aiohttp==3.11.16
aiohttp-socks==0.10.1
aiohttp-xmlrpc==1.5.0
async-timeout==5.0.1
attrs==25.3.0
chardet==5.2.0
filelock==3.18.0
humanfriendly==10.0
idna==3.10
importlib_metadata==8.6.1
lxml==5.3.2
multidict==6.1.0
packaging==24.2
pyparsing==3.2.3
setuptools==78.1.0
yarl==1.18.3
