services:
  # The bandersnatch service configuration
  bandersnatch:
    image: pypa/bandersnatch:latest  # Use the latest version of bandersnatch
    volumes:
      - "./config:/conf"  # Mount the local configuration directory to the container
      - "./data:/srv/pypi/web"  # Mount the local data directory where the mirror will be stored
    # To run bandersnatch in mirror mode.
    # It will mirror all the packages in the mirror list of the config file.
    command: bandersnatch mirror --config-file /conf/bandersnatch.conf
    # To run bandersnatch in --force mode, uncomment the following line.
    # It will delete all packages that are not in the mirror list.
    # command: bandersnatch mirror --config-file /conf/bandersnatch.conf --force
    # To run bandersnatch in --debug mode, uncomment the following line.
    # It will print out all the debug messages. This is useful for debugging.
    # command: bandersnatch mirror --config-file /conf/bandersnatch.conf --debug
    # To run bandersnatch in --verbose mode, uncomment the following line.
    # It will print out all the verbose messages. This is useful for debugging.
    # command: bandersnatch mirror --config-file /conf/bandersnatch.conf --verbose
    # To run bandersnatch in verify mode, uncomment the following line.
    # It will verify all the packages in the mirror list and delete the ones that are not in the list anymore.
    # command: bandersnatch verify --config-file /conf/bandersnatch.conf
    # To run bandersnatch in once mode, uncomment the following line.
    # It will run bandersnatch once and exit. This is useful for testing.
    # command: bandersnatch once --config-file /conf/bandersnatch.conf
    networks:
      - bandersnatch_net  # Connects the service to the custom bridge network

  # The nginx service configuration for serving the mirror
  bandersnatch_nginx:
    image: bandersnatch_nginx
    # If the image not built yet, it will be built from the nginx image from the Dockerfile in the current directory
    build: .
      context: ../banderx
      dockerfile: Dockerfile
    volumes:
      - "./data:/data/pypi/web:ro"  # Mount the data directory as read-only for nginx for serving the downloaded repository
      - "../banderx/nginx.conf:/config/nginx.conf:ro"  # Mount custom nginx.conf as recommended in ../banderx/README.md
#      - "../banderx/certificate.crt:/etc/ssl/certs/nginx.crt:ro" # Uncomment for HTTPS support
#      - "../banderx/private.key:/etc/ssl/private/nginx.key:ro" # Uncomment for HTTPS support

    ports:
      - "40080:80"  # Map port 40080 on the host to port 80 in the container
#      - "44300:443"  # Uncomment for expose port 44300 on the host and map it to port 443 in the container
    networks:
      - bandersnatch_net

networks:
  bandersnatch_net:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 800
