name: doc_build

on: [push, pull_request]

jobs:
  lint:
    name: html + linkcheck build
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0

    - name: Set up latest Python
      uses: actions/setup-python@v2.2.2

    - name: Install latest pip, setuptools + tox
      run: |
        python -m pip install --upgrade pip setuptools tox

    - name: Install base bandersnatch requirements
      run: |
        python -m pip install -r requirements.txt
        python -m pip install -r requirements_test.txt

    - name: Run doc_build via tox
      env:
        TOXENV: doc_build
      run: |
        python test_runner.py
