name: bandersnatch_pypi_upload

on:
  release:
    types: created

jobs:
  build:
    name: bandersnatch PyPI Upload
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0

    - name: Set up Python
      uses: actions/setup-python@v2.3.1

    - name: Install latest pip, setuptools, twine, wheel
      run: |
        python -m pip install --upgrade build pip setuptools twine wheel

    - name: Build sdist & wheel
      run: |
        python -m build

    - name: Upload to PyPI via Twine
      env:
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload --verbose -u '__token__' dist/*
