name: bandersnatch_pypi_upload

on:
  release:
    types: created

jobs:
  build:
    name: bandersnatch PyPI Upload
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2.2.1
      with:
        python-version: 3.7

    - name: Install latest pip, setuptools + tox
      run: |
        python -m pip install --upgrade pip setuptools twine wheel

    - name: Build wheels
      run: |
        python setup.py bdist_wheel
        python setup.py sdist

    - name: Upload to PyPI via Twine
      env:
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload --verbose -u '__token__' dist/*
